aiohappyeyeballs
aiohttp
aiosignal
annotated-types
anyio
attrs
beautifulsoup4
blinker
certifi
cffi
chardet
charset-normalizer
click
cryptography
defusedxml
distro
Flask
flask-cors
fonttools
fpdf2
frozenlist
google
google-ai-generativelanguage
google-api-core
google-api-python-client
google-auth
google-auth-httplib2
google-genai
googleapis-common-protos
googletrans
grpcio
grpcio-status
gunicorn
h11
h2
hpack
hstspreload
httpcore
httplib2
httpx
hyperframe
idna
itsdangerous
Jinja2
langdetect
libretranslatepy
lxml
lyricsgenius
MarkupSafe
multidict
packaging
pillow
propcache
proto-plus
protobuf
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pyparsing
python-dotenv
RapidFuzz
requests
rfc3986
six
sniffio
soupsieve
tenacity
tqdm
translate
typing-inspection
typing_extensions
uritemplate
urllib3
websockets
Werkzeug
yarl
